<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>most popular websites</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<a href="{% url 'websites' %}"><button>go back</button></a>
{% block content %}
    <form action="" method="GET">
            <h4>Most popular websites</h4>
            <select name="category">
            {% if category is not None %}
            <option value="{{ category }}" selected>{{ category }}</option>
            {% endif %}
            <option value="" ></option>
            {% for category in categories %}
            <option value="{{ category }}" name="{{ category }}">{{ category }}</option>
            {% endfor %}
            </select>
        <button type="submit">set category filter</button>

        <table>
            <tr>
                <td><button type="submit" name="url" value="true">url</button></td>
                <td><button type="submit" name="title" value="true">title</button></td>
                <td><button type="submit" name="meta_description" value="true">description</button></td>
                <td><button type="submit" name="alexa_rank" value="true">alexa rank</button></td>
                <td><button type="submit" name="date_added" value="true">date added</button></td>
                <td><button type="submit" name="date_updated" value="true">date updated</button></td>
            </tr>
            {% for website in websites %}
            <tr>
                <td><a href="{% url 'detail_view' website.pk %}">{{ website.url }}</a></td><td>{{ website.title }}</td><td>{{ website.meta_description }}</td>
                <td>{{ website.alexa_rank }}</td><td>{{ website.date_added }}</td><td>{{ website.date_updated }}</td>
            {%  endfor %}
            </tr>
        </table>

    </form><br>
    <a href="{% url 'create_view' %}"><button>create website/webpage</button></a>
    <a href="{% url 'categories_view' %}"><button>view categories</button></a>
{% endblock %}
</body>
</html>